.carrouselContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carrouselTrack{
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scroll 20s  linear infinite;
  /* border: solid 1px red; */
}

.carrouselTrack > div {
  width: 30vw;
  max-width: 500px;
}

.carrouselTrack > div > img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}